<div class="your-information" [@inOutAnimation]="section">

  <div *ngIf="section == 0">
    <h2>Who are you then?</h2>
    
    <select [(ngModel)]="quote.title">
      <option value disabled>Title</option>
      <option value="Mr">Mr</option>
      <option value="Mrs">Mrs</option>
      <option value="Miss">Miss</option>
      <option value="Ms">Ms</option>
      <option value="Dr">Dr</option>
    </select>
    
    <input [(ngModel)]="quote.firstName" type="text" placeholder="First Name">
    
    <input [(ngModel)]="quote.surname" type="text" placeholder="Surname">
    
    <hr />
    
    <div class="button-container">
      <button (click)="nextSection()" [disabled]="!(quote.title && quote.firstName && quote.surname)">Next</button>
    </div>
  </div>

  <div *ngIf="section == 1">
    <h2>Hello {{quote.firstName}}, glad you could join us! So tell us what property you'd like to insure today</h2>
    
    <div class="postcode-finder">
      <input type="text" [(ngModel)]="quote.postcode" placeholder="Postcode">
      <button (click)="showAddress()">Search</button>
    </div>
    
    <select [(ngModel)]="quote.address" *ngIf="showingAddress" aria-disabled="false" aria-label="Please select your address">
      <option value="">Please select your address</option>
      <option label="No address found" value="No address found">No address found</option>
      <option label="1 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="1 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">1 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="2 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="2 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">2 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="3 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="3 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">3 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="4 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="4 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">4 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="5 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="5 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">5 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="6 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="6 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">6 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="7 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="7 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">7 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="8 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="8 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">8 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="9 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="9 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">9 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="10 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="10 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">10 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="11 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="11 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">11 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="12 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="12 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">12 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="13 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="13 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">13 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="14 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="14 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">14 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="15 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="15 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">15 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="16 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="16 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">16 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="17 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="17 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">17 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="18 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="18 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">18 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="19 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="19 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">19 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="20 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="20 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">20 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="21 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="21 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">21 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="22 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="22 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">22 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="23 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="23 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">23 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="24 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="24 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">24 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="25 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="25 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">25 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="26 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="26 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">26 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="27 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="27 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">27 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="28 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="28 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">28 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="29 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="29 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">29 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="2A Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="2A Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">2A Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="30 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="30 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">30 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="31 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="31 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">31 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="32 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="32 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">32 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="33 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="33 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">33 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="34 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="34 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">34 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="35 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="35 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">35 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="36 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="36 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">36 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="37 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="37 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">37 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="38 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="38 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">38 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="39 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="39 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">39 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="40 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="40 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">40 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="41 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="41 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">41 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="42 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="42 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">42 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="43 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="43 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">43 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="44 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="44 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">44 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="45 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="45 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">45 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="46 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="46 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">46 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="47 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="47 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">47 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
      <option label="48 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN" value="48 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN">48 Barnsfield Place, UXBRIDGE, Middlesex, UB8 2UN</option>
    </select>
    
    <hr />
    
    <div class="button-container">
      <button (click)="nextSection()" [disabled]="!quote.address">Next</button>
      <button (click)="lastSection()">Back</button>
    </div>
  </div>
  
  <div *ngIf="section == 2">
    <h2>We need to know just a few things about what you need covering...</h2>
  
    <p>Do you need contents cover, buildings cover, or both?</p>
    
    <div *ngFor="let coverLevel of coverLevels" class="radio-button">
      <input type="radio" name="coverLevel" id="cover_{{coverLevel.value}}" (change)="updateCoverLevel(coverLevel.value)" [checked]="quote.coverLevel == coverLevel.value" [value]="coverLevel.value">
      <label for="cover_{{coverLevel.value}}">{{coverLevel.label}}</label>
    </div>
    
    <p *ngIf="quote.coverLevel == 'BC'"><strong>Buildings and Contents cover</strong> is recommended for customers who own their property, as it provides cover for both your possessions and the actual building itself.</p>
    <p *ngIf="quote.coverLevel == 'B'"><strong>Buildings Only cover</strong> will only cover damage to your actual property, and not your possessions. We're not really sure why you want this - are you secretly a monk?</p>
    <p *ngIf="quote.coverLevel == 'C'"><strong>Contents Only cover</strong> is recommended for customers who do not own their property, or already have buildings cover, as it only covers your possessions.</p>
    
    <p>Do you pay for your car insurance every month, or every year?</p>
    
    <input type="radio" id="monthly" (click)="updateMonthlyPayment(true)" [checked]="quote.monthlyPayment == true" name="paycycle" value="true">
    <label for="monthly">Monthly</label>
    <input type="radio" id="annual" (click)="updateMonthlyPayment(false)" [checked]="quote.monthlyPayment == false" name="paycycle" value="false">
    <label for="annual">Yearly</label>

    <p>When do you want your insurance to start?</p>
    
    <select [(ngModel)]="quote.startDate.day" placeholder="Day">
      <option value="Day" selected disabled>Day</option>
      <option *ngFor="let day of days" label="{{day}}" value="{{day}}">{{day}}</option>
    </select>
    
    <select [(ngModel)]="quote.startDate.month" placeholder="Month">
        <option value="Month" selected disabled>Month</option>
        <option *ngFor="let month of months" label="{{month.label}}" value="{{month.value}}">{{month.label}}</option>
    </select>
    
    <span><strong>{{quote.startDate.year}}</strong></span>
    
    <hr />
    
    <div class="button-container">
      <button (click)="nextSection()" [disabled]="quote.monthlyPayment == undefined || !(quote.coverLevel && quote.startDate.day && quote.startDate.month && quote.startDate.year)">Next</button>
      <button (click)="lastSection()">Back</button>
    </div>
  </div>
  
  <div *ngIf="section == 3">
    <h2>Claims/NCD</h2>
    
    <p>Have you or anyone living with you made any claims and/or suffered any losses in the last 3 years?</p>
    
    <input type="radio" id="claims-true" (click)="toggleClaims(true)" [checked]="showingClaims == true" name="claims" value="true">
    <label for="claims-true">Yes</label>
    <input type="radio" id="claims-false" (click)="toggleClaims(false)" [checked]="showingClaims == false" name="claims" value="false">
    <label for="claims-false">No</label>
    
    <div *ngIf="showingClaims">
      <p>Please tell us how many</p>
      <input type="number" (change)="updateClaimsNumber($event.target.value)">
      
      <div [hidden]="noOfClaims > 5" *ngIf="quote.claims.length">
        <div *ngFor="let claim of quote.claims; index as i" class="claim-panel">
          <h3>Tell us about your {{i+1}}th claim!</h3>
          <input type="text">
        </div>
      </div>
      
      <span *ngIf="noOfClaims > 5">Please call Customer Service on 0181 811 8181</span>
    </div>
    
    <p>Do you have any No Claims Discount for Buildings and/or Contents insurance?</p>
    
    <input type="radio" id="noclaims-true" (click)="toggleNoClaims(true)" [checked]="showingNoClaims == true" name="noclaims" value="true">
    <label for="noclaims-true">Yes</label>
    <input type="radio" id="noclaims-false" (click)="toggleNoClaims(false)" [checked]="showingNoClaims == false" name="noclaims" value="false">
    <label for="noclaims-false">No</label>
    
    <div *ngIf="showingNoClaims">
      <p>Claim free years on Buildings insurance</p>
      <span *ngFor="let noClaimsValue of noClaimsValues">
        <input type="radio" name="noClaimsB" id="ncb_{{noClaimsValue.value}}" (change)="quote.noClaimsB = noClaimsValue.value" [checked]="quote.noClaimsB == noClaimsValue.value" [value]="noClaimsValue.value">
        <label for="ncb_{{noClaimsValue.value}}">{{noClaimsValue.label}}</label>
      </span>
    </div>
    
    <div *ngIf="showingNoClaims">
      <p>Claim free years on Contents insurance</p>
      <span *ngFor="let noClaimsValue of noClaimsValues">
        <input type="radio" name="noClaimsC" id="ncc_{{noClaimsValue.value}}" (change)="quote.noClaimsC = noClaimsValue.value" [checked]="quote.noClaimsC == noClaimsValue.value" [value]="noClaimsValue.value">
        <label for="ncc_{{noClaimsValue.value}}">{{noClaimsValue.label}}</label>
      </span>
    </div>
    
    <hr />
    
    <div class="button-container">
      <button (click)="nextSection()" [disabled]="showingClaims == undefined || showingNoClaims == undefined">Next</button>
      <button (click)="lastSection()">Back</button>
    </div>
  </div>
  
  <div *ngIf="section == 4">
    <h2>We only need to ask you a few more questions...</h2>
    
    <p>Do you want to add a joint policyholder to your policy?</p>
    
    <input type="radio" id="joint-true" (click)="toggleJoint(true)" [checked]="quote.jointPolicyHolder == true" name="joint" value="true">
    <label for="joint-true">Yes</label>
    <input type="radio" id="joint-false" (click)="toggleJoint(false)" [checked]="quote.jointPolicyHolder == false" name="joint" value="false">
    <label for="joint-false">No</label>
    
    <br /><br />
    
    <div *ngIf="quote.jointPolicyHolder" class="claim-panel">
      <select [(ngModel)]="quote.jointTitle">
        <option value disabled>Title</option>
        <option value="Mr">Mr</option>
        <option value="Mrs">Mrs</option>
        <option value="Miss">Miss</option>
        <option value="Ms">Ms</option>
        <option value="Dr">Dr</option>
      </select>
      
      <input [(ngModel)]="quote.jointFirstName" type="text" placeholder="First Name">
      
      <input [(ngModel)]="quote.jointSurname" type="text" placeholder="Surname">
    </div>
    
    <div>
      <input [(ngModel)]="quote.keepMeInformed" type="checkbox" id="keepMeInformed">
      <label for="keepMeInformed"><span>We'd like to contact you every now and then by post or phone to tell you about new things we're doing. That will include information on new products and services, and even customers discounts and loyalty rewards.<br>Tick this box if you <strong>DO</strong> want these updates by post or phone.</span></label>
    </div>
    
    <div>
      <input [(ngModel)]="quote.keepMeInformedByElectronicMeans" type="checkbox" id="keepMeInformedByElectronicMeans">
      <label for="keepMeInformedByElectronicMeans"><span>We'd also like to send you the occasional email and SMS. There won't be loads of them, and they'll still be about new products and loyalty rewards.<br>Tick this box if you <strong>DO</strong> want these updates by email or SMS.</span></label>
    </div>
    
    <h3>You can skip these last few questions if you want, but they'll help us help you if you answer them</h3>
    
    <p>Do you own a dog or a cat?</p>
    <input type="radio" id="paws-true" (click)="togglePaws(true)" [checked]="showingPaws == true" name="paws" value="true">
    <label for="paws-true">Yes</label>
    <input type="radio" id="paws-false" (click)="togglePaws(false)" [checked]="showingPaws == false" name="paws" value="false">
    <label for="paws-false">No</label>
    
    <p>Do you or anyone you live with has another Direct Line insurance policy?</p>
    <input type="radio" id="extant-true" (click)="toggleExtant(true)" [checked]="showingExtant == true" name="extant" value="true">
    <label for="extant-true">Yes</label>
    <input type="radio" id="extant-false" (click)="toggleExtant(false)" [checked]="showingExtant == false" name="extant" value="false">
    <label for="extant-false">No</label>
    
    <p>What month is your car insurance due for renewal?</p>
    <select [(ngModel)]="quote.carInsuranceMonth" placeholder="Month">
        <option value="Month" selected disabled>Month</option>
        <option *ngFor="let month of months" label="{{month.label}}" value="{{month.value}}">{{month.label}}</option>
    </select>
    
    <hr />
    
    <div class="button-container">
      <button (click)="playbackModal()"
        [disabled]="quote.jointPolicyHolder == undefined || quote.jointPolicyHolder == true && (quote.jointTitle == undefined || quote.jointFirstName == undefined || quote.jointSurname == undefined)"
        >
        Review Your Info</button>
      <button (click)="lastSection()">Back</button>
    </div>
  </div>
  

</div>
<hr />

<progress max="4" value="{{section}}"></progress>