//breakpoint mixin - 'small' is mobile and down, others are tablet and desktop respectively
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 1024px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 640px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 639px)  { @content; }
  }
}

.your-information {
  display: flex;
  
  > div {
    display: inline-block;
    width: 100%;
    transform: translateX(0);
  }
}

.postcode-finder {
  display: flex;
  
  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }
  
  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.claim-panel {
  background: #fafafa;
  padding: 20px;
  border: 2px solid #e5e5e5;
  margin-bottom: 40px;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  button:not(:last-of-type) {
    margin-bottom: 15px;
  }
  
  @include breakpoint(medium) {
    flex-direction: row-reverse;
    
    button {
      margin: 0;
    }
  }
}

progress {
  width: 100%;
  background-color: #f3f3f3;
  border: 1px solid #979797;
  border-radius: 3px;
  
  &::-webkit-progress-bar { 
      background-color: #f3f3f3; 
      border-radius: 3px;
  } 

  &::-webkit-progress-value { 
      background-color: #e70c2c !important; 
      border-radius: 2px;
      transition: width 0.5s ease-in-out;
  } 

  &::-moz-progress-bar { 
      background-color: #e70c2c !important; 
      border-radius: 2px;
      transition: width 0.5s ease-in-out;
  } 
}