<div class="modal-content">
    <div class="modal-header">
      <h1>Quick check; is this all correct?</h1>
    </div>
    <div class="modal-body">
      <table>
        <tr>
          <th>Name</th>
          <td>{{quote.title}} {{quote.firstName}} {{quote.surname}}</td>
        </tr>
        <tr>
          <td colspan="2"><a (click)="amend(0)">Edit name</a></td>
        </tr>
        <tr>
          <th>Address</th>
          <td>{{quote.address}}</td>
        </tr>
        <tr>
          <td colspan="2"><a (click)="amend(1)">Edit address</a></td>
        </tr>
        <tr>
          <th>Cover Level</th>
          <td>
            {{quote.coverLevel == 'BC' ? "Buildings and Contents" : ""}}
            {{quote.coverLevel == 'B' ? "Buildings Only" : ""}}
            {{quote.coverLevel == 'C' ? "Contents Only" : ""}}
          </td>
        </tr>
        <tr>
          <th>Monthy/annual payment?</th>
          <td>
            {{quote.monthlyPayment ? "Monthly" : "Annual"}}
          </td>
        </tr>
        <tr>
          <th>Start date</th>
          <td>{{quote.startDate.day}} {{quote.startDate.month}} {{quote.startDate.year}}</td>
        </tr>
        <tr>
          <td colspan="2"><a (click)="amend(2)">Edit quote details</a></td>
        </tr>
        <tr>
          <th>Claims</th>
          <td>{{quote.claims.length}} claims</td>
        </tr>
        <tr>
          <th>Claim free years on Buildings insurance</th>
          <td>{{quote.noClaimsB}} years</td>
        </tr>
        <tr>
          <th>Claim free years on Contents insurance</th>
          <td>{{quote.noClaimsC}} years</td>
        </tr>
        <tr>
          <td colspan="2"><a (click)="amend(3)">Edit claims details</a></td>
        </tr>
        <tr>
          <th>Joint policyholder</th>
          <td [ngSwitch]="quote.jointPolicyHolder">
            <span *ngSwitchCase="true">{{quote.jointTitle}} {{quote.jointFirstName}} {{quote.jointSurname}}</span>
            <span *ngSwitchCase="false">None specified</span>
          </td>
        </tr>
        <tr>
          <td colspan="2"><a (click)="amend(4)">Edit these details</a></td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button (click)="confirm()">Yes, that's all right</button>
      <button (click)="cancel()">Cancel</button>
    </div>
</div>