<header>
  <img class="logo" src="assets/img/logo.svg">
</header>

<router-outlet></router-outlet>

<hr />

<footer>
  <ul id="useful-links" class="footer__useful-links" role="navigation" aria-labelledby="useful-links">
    <li><a href="http://www.directline.com/legal/security" target="_blank" aria-label="Security. Opens in a new tab.">Security&nbsp;&amp;&nbsp;Privacy</a></li>
    <li><a href="https://www.directline.com/legal/terms" target="_blank" aria-label="Legal. Opens in a new tab.">Legal</a></li>
    <li><a href="https://www.directline.com/accessibility" target="_blank" aria-label="Accessibility. Opens in a new tab.">Accessibility</a></li>
    <li><a href="https://www.directline.com/cookies-notice" target="_blank" aria-label="Cookies notice. Opens in a new tab.">Cookies&nbsp;notice</a></li>
  </ul>
  
  <p class="footer__disclosure">
    Direct Line general insurance policies are underwritten by U K Insurance Limited. Registered office: The Wharf, Neville Street, Leeds LS1 4AZ. Registered in England and Wales No.1179980. U K Insurance Limited is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority. Registration number 202810. The Financial Services Register can be accessed through <a href="https://www.fca.org.uk" aria-label="Financial Conduct Authority website. Opens in a new tab." target="_blank">www.fca.org.uk</a>
  </p>
</footer>