header {
  background-color: transparent;
  margin-bottom: .625rem;
  padding: .9375rem;
  box-shadow: 0 2px 4px 0 rgba(34,34,34,.2);
  
  img.logo {
    width: 175px;
    max-width: 100%;
  }
}

footer {
  padding: .625rem 1rem;
  clear: both;
  background: #fff;
  
  .footer__useful-links {
    margin-top: 0;
    margin-bottom: .9375rem;
    
    li {
      display: inline-block;
      border-right: solid #222 1px;
      padding-left: 0;
      padding-right: 14px;
      margin: .3125rem .9375rem .3125rem 0;
      list-style-type: none;
      
      a {
        font-size: 1rem;
        text-decoration: none;  
      }
    }
  }
  
  p {
    font-size: .875rem;
    line-height: 1.45;
    margin-bottom: .9375rem;
  }
}