/* You can add global styles to this file, and also import other style files */

@import '../node_modules/ngx-simple-modal/styles/simple-modal.scss';

//breakpoint mixin - 'small' is mobile and down, others are tablet and desktop respectively
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 988px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 600px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 599px)  { @content; }
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Museo-Sans-5","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.125rem;
  font-size: 14px;
  color: #222;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #0354a4;
}

router-outlet + * {
  display: block;
  max-width: 988px;
  margin: 0 auto;
  padding: 0 15px;
  
  @include breakpoint(large) {
    padding: 0;
  }
}




/* This lot needs putting into form components */

input, select {
    padding: 0 1rem 0 1rem;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    margin: 0em;
    min-height: 3rem;
    border-radius: 5px;
    border: 2px solid #979797;
    font-size: 1.125rem;
}

input[type="text"] {
  cursor: text;
  width: 100%;
  
  @include breakpoint(medium) {
    width: auto;
  }
}

div.radio-button {
  display: block;
  width: 100%;
  
  @include breakpoint(medium) {
    display: inline;
  }
}

input[type="checkbox"] {
  + label {
    display: inline-block;
    width: calc(100% - 13px);
    margin-bottom: 10px;
    padding-left: 25px;
  }
}

input[type="radio"] {
  width: 0;
  min-height: 1rem;
  
  + label {
    border: 2px solid #979797;
    border-radius: .25rem;
    min-height: 2.75rem;
    line-height: 2.75rem;
    padding: .8125rem .9375rem;
    padding-top: 0.8125rem;
    padding-right: 0.9375rem;
    padding-bottom: 0.8125rem;
    padding-left: 0.9375rem;
    margin-right: 15px;
    cursor: pointer;
    width: 100%;
    display: block; 
    
    @include breakpoint(medium) {
      display: inline;
    }
  }
  
  &:checked {
    + label {
      border-color: #0354a4;
      background-color: #0354a4;
      color: #fff;
      cursor: default;
    }
  }
}

select {
  padding-right: 34px;
  width: 100%;
  
  @include breakpoint(medium) {
    width: auto;
  }
}

button {
  min-height: 2.75rem;
  padding: .8125rem .9375rem;
  padding-top: 0.8125rem;
  padding-right: 0.9375rem;
  padding-bottom: 0.8125rem;
  padding-left: 0.9375rem;
  transition: none;
  border: 2px solid #bfe401;
  border-radius: .25rem;
  outline: 0 none;
  background-color: #bfe401;
  color: #2f2f2f;
  font-weight: 700;
  text-decoration: none;
  text-shadow: none;
  box-shadow: none;
  min-width: 9.375rem;
  cursor: pointer;
  
  &:hover:not([disabled]) {
    border: 2px solid #b1d300;
    background-color: #b1d300;
  }
  
  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  &.float-right {
    display: block;
    margin-left: auto;
  }
}